@use "../assets/variables" as *;

.about {
  display: flex;
  flex-direction: column;
  height: 50vh;

  &__p {
    width: 50vw;
    font-family:$font-body ;
  }

  &__heading{
    font-family: $font-headings;
    font-size:30px;
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 30vw;
  }

  &__div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.me {
  height: 330px;
  width: 220px;
}
