@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$font-headings: "Cormorant", serif;
$font-body: "Inter", sans-serif;

$colour-one: #f2f9f1;
$colour-two: #ddeedf;
$colour-three: #b6cdbd;
$colour-four: #5c715e;
