@use "../../assets/variables" as *;

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    font-family: $font-headings;
    font-size: 30px;
  }
  

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  &__icon {
    width: 50px;
  }
  &__description {
    font-family: $font-body;
    margin-left: 30px;
  }
}
